body{
  display: flex;
  justify-content: center;
}
form {
  border-style: none;
  box-shadow: rgba(94, 87, 87, 0.2) 0 3px 5px -1px,rgba(82, 74, 74, 0.14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #191a1b;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 200px;
  padding: 20px;
  margin: 100px 20px;
  background-color: rgba(107, 147, 199, 0.534);
}
input, select{
  height: 20px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
}
button {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #878b8f;
  cursor: pointer;
}
button:hover {
  background: #F6F9FE;
  color: #174ea6;
}
#converted-temperature {
  margin: 0 auto;
  padding: 10px;
}
